<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extrair Códigos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h1>Extrair Códigos</h1>
        <form method="post" action="/extrair">
            <div class="form-group">
                <label for="dados">Cole seus dados aqui:</label>
                <textarea class="form-control" id="dados" name="dados" rows="10"
                    placeholder="Cole seus dados aqui"></textarea>
            </div>
            <label>
                <input type="checkbox" name="padrao" value="pedido"> Pedido
            </label>
            <button type="submit" class="btn btn-primary">Extrair</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>